DATABASE_URL=postgres://ferriscord:ferriscord@127.0.0.1:5433/ferriscord
DATABASE_PORT=5433
DATABASE_PASSWORD=ferriscord
DATABASE_USER=ferriscord

AUTH_CLIENT_ID=ferriscord-api
AUTH_CLIENT_SECRET=your_client_secret
AUTH_ISSUER=http://localhost:7333/realms/ferrislabs

ALLOWED_ORIGINS=http://localhost:5173

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY_ID=your_access_key_id
STORAGE_SECRET_ACCESS_KEY=your_secret_access_key
STORAGE_FORCE_PATH_STYLE=true
